{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if request.path != '/blog/' %}
{% block title %}
{% endblock %}
{% else %}
Sewonet blog
{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
<!// cookie plugin //>
</head>
<body> 
    <!-- fixed sidebar nav-->
    <button class="fixed-nav-btn" aria-label="sidebar toggle button">
        <i class="fas fa-bars"></i>
    </button>
    <button class="dark-mode-toggle-btn" aria-label="toggle dark mode">
        <i class="far fa-moon"></i>
    </button>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="logo-box" aria-label="Homepage logo link">
            <img src="{% static 'img/blog-logo.jpg' %}" alt="">
        </a>
        <form action="{% url 'search' %}" class="search-form">
            <input type="text" placeholder="Search for posts" id="search" name="search"  aria-label="search bar" required>
            <button class="search-btn" aria-label="search button">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <ul class="nav-list">
            <li class="nav-link">
                <a href="{% url 'home' %}" aria-label="Homepage link">Home</a>
            </li>
            <li class="nav-link">
                <a href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-link">
                <a href="{% url 'contact' %}">contact</a>
            </li>
            <li class="nav-link">
                <a href="{% url 'blog_home' %}" class="blog-link" aria-label="Blog home">Blog home</a>
            </li>
        </ul>
    </div>
    <!-- end of nav -->
    {% block content %}

    {% endblock %}
    <!-- footer -->
    <footer>
        <div class="footer-wrapper">
            <ul class="quick-links">
                <h3>Quick links</h3>
                <li>
                    <a href="{% url 'home' %}" aria-label="Homepage link">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">about</a>
                </li>
                <li>
                    <a href="#services">services</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">contact</a>
                </li>
                <li>
                    <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Sitemap</a>
                </li>
                <li>
                    <a href="{% url 'feed' %}">Subscribe to our news feed</a>
                </li>
                <li>
                    <a href="#n" class="faq-open-btn">FAQ</a>
                </li>
                <li>
                    <a href="{% url 'privacy' %}">privacy</a>
                </li>
            </ul>
            <ul class="contact-us">
                <h3>contact us</h3>
                <li>info@sewonet.com</li>
                <li>Legon, Accra, Ghana</li>
            </ul>
            <ul class="follow">
                <h3>follow us</h3>
                <li><a href="#">facebook</a></li>
                <li><a href="#">twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">youtube</a></li>
            </ul>
        </div>
        <p>&#169 copyright Swonet Company limited  | All Rights Reserved!</p>
    </footer>
     <!-- js links -->
     <script src="{% static 'js/aos.js' %}"></script>
     <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
     <script src="{% static 'js/timeago.js' %}"></script>
     <script src="{% static 'js/cookies.js' %}"></script>
{% if request.path == "/blog/" %}
<script>
document.getElementById('search').focus()
</script>
{% endif %}


     <script>

        // aos initialisation
        AOS.init({
            offset: 100,
            delay: 100,
            duration: 700,
            easing: 'ease',
            once: false,
            mirror: false,
            anchorPlacement: 'top-bottom'
        })
        // dark mode in blog
const darkModeToggleBtn = document.querySelector(".dark-mode-toggle-btn")
const blogBody = document.querySelector("body")
let darkmode = localStorage.getItem("dark-mode", "enabled")

// enable dark mode
function enableDark() {
  blogBody.classList.add("dark-mode")
  localStorage.setItem("dark-mode", "enabled")
}
// disable dark mode
function disableDark() {
  blogBody.classList.remove("dark-mode")
  localStorage.setItem("dark-mode", "disabled")
}
if(darkmode === "enabled") {
  enableDark()
}
if(blogBody.classList.contains("dark-mode")){
    darkModeToggleBtn.innerHTML = "<i class='far fa-sun'></i>"
} else {
    darkModeToggleBtn.innerHTML = "<i class='far fa-moon'></i>"
}
darkModeToggleBtn.addEventListener("click", ()=>{
  darkmode = localStorage.getItem("dark-mode")
  if(darkmode === "disabled") {
    enableDark()
    darkModeToggleBtn.innerHTML = "<i class='far fa-sun'></i>"
  } else {
    disableDark()
    darkModeToggleBtn.innerHTML = "<i class='far fa-moon'></i>"
  }
})
        // like btn
        $("#like-btn").click((e) =>{
            let post_pk = $("#like-btn").attr("data-catid")
            $.post({url: "{% url 'like' %}",
                data: {post_pk: post_pk},
                success: (res)=> {
                    Cookies.set('liked', 'liked_blog_post', {expires: 20, path: "{{request.path}}"})
                    $("#like-btn").prop("disabled", true)
                    $("#like-number").text(res.count_likes)
    if ($("#like-number").text() == 1) {
    $("#text").text("Like")
    }
    else {
    $("#text").text("Likes")
    }

                    }})
            })
    //alert(Cookies.get('like'))
    if (Cookies.get("liked")) {
    $("#like-btn").prop("disabled", true)
    }
    //fetching data
    if ($("#like-number").text() == 1) {
    $("#text").text("Like")
    }
    else {
    $("#text").text("Likes")
    }

// if window loads, then run code
window.addEventListener("load", () => {
  // functionality of sidebar
  const sidebarBtn = document.querySelector(".fixed-nav-btn");
  const sidebar = document.querySelector(".nav-wrapper");

  sidebarBtn.addEventListener("click", toggleSideBar);

  function toggleSideBar() {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.innerHTML = "<i class='fas fa-times'></i>";
    } else {
      sidebarBtn.innerHTML = "<i class='fas fa-bars'></i>";
    }
  }

  // comment section
  const commentBox = document.querySelector("#comment");
  const toggleCommentBtn = document.querySelector(".comment-btn");

  toggleCommentBtn.addEventListener("click", () => {
    commentBox.classList.toggle("active");
    if (commentBox.classList.contains("active")) {
      toggleCommentBtn.textContent = "close";
    } else {
      toggleCommentBtn.textContent = "Open";
    }
  });

  // fetching api to the comment section and display every comment
  let comPage = 1;
  let post_id = $("#like-btn").attr("data-catid")
            
  //   the next and prev buttons in comment
  const prevComBtn = document.querySelector(".com-prev");
  const nextComBtn = document.querySelector(".com-next");

  // function to check if the commment can be paginated or not
  // function paginateCheck(){}

  nextComBtn.addEventListener("click", () => {
    comPage++;
    fetchData(comPage);
  });
  prevComBtn.addEventListener("click", () => {
    if(comPage > 0){comPage--}
      fetchData(comPage);

  });
  

  function fetchData(page=1) {
    fetch(`http://localhost:50/blog/comment/?page=${page}&&post_id=${post_id}`)
      .then((response) => {
        // check if there is no error in the response and return it
        if (!response.ok) {
          throw Error("ERROR! There was an error opening URL.");
        }
        return response.json();
      })
      .then((data) => {
        // loop through the comments array and return each user and details on the webpage

        // if the comment page doesn't have previous page or next page, disable the navigation buttons
        const pageInfo = data[data.length - 1].pagination_info
        if(pageInfo.has_next === false) {
           $("#next").prop("disabled", true)
           nextComBtn.classList.add("disable")
        }else if (pageInfo.has_next === true) {
            $("#next").prop("disabled", false)
           nextComBtn.classList.remove("disable")
        }
        if(pageInfo.has_prev === false) {
            $("#prev").prop("disabled", true)
           prevComBtn.classList.add("disable")
        }else if (pageInfo.has_prev === true) {
            $("#prev").prop("disabled", false)
           prevComBtn.classList.remove("disable")
        }
        const commentContCont = document.querySelector(".com-con-cont");
        
        const commentArr = data
        .map((user) => {
            if (user.content == undefined) {
              return;
            }
            const userDate = new Date(user.date).toDateString();
            return `
            <div class="comment-user" tabindex="0">
                <div class="name-date-wrapper">
                    <p>${user.name}</p>
                    <p>
                      <time class="timeago" datetime="${userDate}">${userDate}</time>
                    </p>
                </div>
                <div class="message-box">
                    <p>${user.content}</p>
                </div>
            </div>
            `;
          })
          .join("");
        commentContCont.innerHTML = commentArr;
      })
      .catch((error) => {
        alert("Error!", error);
      });
  }
  fetchData();

  
});

// time ago
$(document).ready(()=>{
    $("time.timeago").timeago()
})

// subscribe ajax call
$("#subscribe").click((e) => {
var addr = $("#email").val()
$.post({url: "{% url 'subscribe' %}", data: {email: addr}, success: (res) => {
alert('done')
}, error: (err) => {
alert(err.status)
}  })



})
     </script>
    <script src="{% static 'js/blog.js' %}"></script>
</body>
</html>