{% extends 'base.html' %}

<head>
    <title>{% block title %}About{% endblock %}</title>
</head>
    {% block content %}
    <!-- about -->
    <section class="about">
        <h1 class="section-title" data-aos="fade-up"><span>about</span> us</h1>
        <div class="section-wrapper" data-aos="fade-up">
            <h4>About</h4>
            <p style="margin-bottom: 2rem;">
                Server World Network is a software engineering firm which sought to be the game changer in the tech eco system by providing affordable technological solutions to the many challenges of the world, and to connect people to opportunities by training young and quality talents to meet the growing demand in the tech space. 
            </p>
            <h4>Vision</h4>
            <p style="margin-bottom: 2rem;">
                Solving the world's challenges by developing and improving quality tech solutions on the annual basis and making technological skills easy and affordable to acquire. 
            </p>
            <h4>Mission</h4>
            <p style="margin-bottom: 2rem;">
                “through our world class staff, We seek to be the world's number one service provider of technological solutions that is easily available, accessible and affordable for all.”</p>
        </div>
    </section>
    <!-- end of about -->
    {% endblock %}
