{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Privacy{% endblock %}</title>
</head>
<body>
    {% block content %}
    <!-- privacy -->
    <section class="privacy">
        <h1 class="section-title" data-aos="fade-up">privacy <span>policy</span></h1>
        <div class="section-wrapper" data-aos="fade-up">
            <p>        We receive, collect and store both personally and non-personally identifiable information you enter on our website or provide us in any other contractive way. In addition, we collect the Internet protocol (IP) address used to connect your computer to the Internet; We may use software tools to measure and collect session information, including page response times, length of visits to certain pages, page interaction information, and methods used to browse away from the page.</p>

            <p><h4 style="color: #0abde3; margin: 1rem 0;">How we use your data.</h4>
            We collect such Non-personal and Personal Information for the following purposes:
            <ul style="list-style: disc;">
                <li>To provide and operate the Services.</li>
                <li>To be able to contact our Visitors and Users with general or personalized service-related notices, suggestions and recommendations based on your activities, and promotional messages.</li>
                <li>To create aggregated statistical data and other aggregated and/or inferred Non-personal Information, which we or our business partners may use to provide and improve our respective services.</li>
                <li>To comply with any applicable laws and regulations.</li>
            </ul>
        </p>
        <br>
        <p><h4 style="color: #0abde3; margin: 1rem 0;">How we process and store your data</h4>
            Your data is collected and stored on secure servers behind a firewall.This has no control over your data and does not interfere in how your data is managed and used. Your data is collected, processed and managed by Swonet for only the purposes outlined in this document and those that are necessary for the running of the system and that is applicable under the 2011 Ghana Data Protection Law.
            </p>
            <br>
            <p><h4 style="color: #0abde3; margin: 1rem 0;">How we communicate with you</h4>
                We may contact you to notify you regarding new orb recommended contents,to poll your opinions through surveys or questionnaires, to send updates about our blog, or as otherwise necessary to contact you to enforce our User Agreement, applicable national laws, and any agreement we may have with you. For these purposes we may contact you via email, or notifications sent to your smart phone or personal computer.
            </p>
            <br>
            <p><h4 style="color: #0abde3; margin: 1rem 0;">Third party sites</h4>
                It's important to note that third-party services, such as Google Analytics or other applications offered through the Wix App Market, placing cookies or utilizing other tracking technologies through Wix's services, may have their own policies regarding how they collect and store information. As these are external services, such practices are not covered by the Sewonet Privacy Policy.

                <h4 style="color: #0abde3; margin: 1rem 0;">How to withdraw your consent</h4>

                If you don't want us to process your data anymore, you may stop using the service and its components or please contact us via telephone 0245128243 or send us mail to: iblackmusik@gmail.com.
            </p>
            <p><h4 style="color: #0abde3; margin: 1rem 0;">Policy updates</h4>
                We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
                </p>
        </div>
    </section>
    <!-- end of privacy -->
    {% endblock %}
</body>
</html>